.CircularProgressbar {
    width: 200px;
    height: 200px;
    margin: 25px;
}
.CircularProgressbar-path {
    stroke: rgb(17, 0, 255);
}
.CircularProgressbar-trail {
    stroke: lightcyan;
}
.CircularProgressbar-text {
    fill: rgb(17, 0, 255);
}
.CircularProgressbar-background {
    fill: green;
}
.remove-bg {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
  }
#row,#row_soft_skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #5770fa;
    justify-content: space-between;
}