.Home {
  text-align: center;
  background-image: url('./25335.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: Home-logo-spin infinite 20s linear;
  }
}

.Home-header {
  /* background-color: #282c34; */
  background-position: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: midnightblue;
}

.Home-header p {
  background-color: #282c34;
  color: rgb(208, 208, 231);
}

.Home-link {
  color: #0e102e;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
